<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
 <test name="Regression1">
    <classes>

      <class name="SafetyCard.BDT.Runners.RunningAll.A1REG_Runner"/>
      <class name="SafetyCard.BDT.Runners.RunningAll.A2LGN_Runner"/>
       <class name="SafetyCard.BDT.Runners.RunningAll.A3INScalc_Runner"/>
      <class name="SafetyCard.BDT.Runners.RunningAll.RequestOffer_Runner"/>
       <class name="SafetyCard.BDT.Runners.RunningAll.UserOfferPage_Runner"/>
    </classes>
  </test>



</suite>
